[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DemoDecomp"]
	path = DemoDecomp
	url = https://github.com/timriffe/demodecomp
[submodule "HMDHFDplus"]
	path = HMDHFDplus
	url = https://github.com/timriffe/hmdhfdplus
[submodule "LEdecomp"]
	path = LEdecomp
	url = https://github.com/timriffe/ledecomp
